@{
    ViewData["Title"] = "Intro";
}

<h1>Logan Kimball</h1>
<div class="d-flex p-2 justify-content-center">
    <img src="img/fishing.jpg" />
</div>

<div class="d-flex p-2 flex-column">
    <h2>Hopes and Dreams</h2>
    <p>
        There are a few things I hope to get out of IS 413. The first one being learning C#.
        I think this is a great opportunity for me to learn a new language. The second and
        final thing I hope to get from IS 413 is how to build ASP.NET applications.
    </p>
</div>

<div class="d-flex p-2 flex-column">
    <h2>Top #3 Jobs</h2>
    <ol>
        <li>Software Developer</li>
        <li>Consultant</li>
        <li>Cloud Architect</li>
    </ol>
</div>